<div id="ScrapButtonSection">
    <% if (user.token) { %>
        <h6><%= gameStats[0].nbGames %> games in the database</h6>
        <h6>Latest : <%= latestGame %></h6>
        <button id="ScanActivitiesButton" type="button" class="btn btn-primary">Scan activities</button>
        <table class="table table-dark" style="width: fit-content;">
            <thead>
                <th scope="col">Category</th>
                <th scope="col">Nb of games</th>
                <th scope="col">(With details)</th>
                <th scope="col"></th>
            </thead>
            <% for (let category of gameStats) { %>
            <tr>
                <td><%= category.title %></td>
                <td><%= category.nbGames %></td>
                <td><%= category.nbGamesDetailed %></td>
                <td><button type="button" class="btn btn-primary scan-game-category-details" data-link="<%= category.buttonLink %>">Get details</button></td>
            </tr>
            <% } %>
        </table>
    <% } else { %>
        <h6>You have no token linked to this account.</h6>
        <h6>Please go to Scrap > Settings.</h6>
    <% } %>
</div>